@model ThreeThingAuction.Models.Team

@{
    ViewData["Title"] = "TeamDetails";
}

<h2>TeamDetails</h2>

<div>
    <h4>Team</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            Team ID
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Money)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Money)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NoOfMembers)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NoOfMembers)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Member1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Member1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Member2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Member2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Member3)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Member3)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Member4)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Member4)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
