@model IEnumerable<ThreeThingAuction.Models.Thing>

@{
    ViewData["Title"] = "Result";
}

<h2>Result</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teamid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BidValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Teamid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BidValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventId)
            </td>
        </tr>
}
    </tbody>
</table>
<div>
    <a asp-area="Identity" asp-controller="Events" asp-action="Index">Go Back to the Events List</a>
</div>