@model ThreeThingAuction.Models.Event

@{
    ViewData["Title"] = "DetailsAdmin";
}

<h2>Details</h2>
<p>
    <a asp-action="Create">New Event</a>

</p>
<div>
    <h4>Event</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ThingList)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ThingList.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Things" asp-route-id="@Model.Id">View Things</a>|
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    <a asp-action="Index">Back to List</a>
</div>
